<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="tipSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_COMMUNITY 
		 WHERE COMM_NO = 1
		   AND STATUS = 'N'
	</entry>
	
	<entry key="tipSelectList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       COMM_POST_NO
		                     , USER_ID
		                     , CATEGORY_NAME
		                     , POST_TITLE
		                     , C.ENROLL_DATE 
		                     , BOARD_VIEW 
		                  FROM TB_COMMUNITY C 
		                  JOIN TB_USER U ON (U.USER_NO = C.USER_NO)
		                 WHERE COMM_NO = 1
		                   AND STATUS = 'N'
		                 ORDER 
		                     BY ENROLL_DATE DESC, 
		                        COMM_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertCommTip">
		INSERT
		  INTO TB_COMMUNITY 
		  (
		    COMM_POST_NO
		  , COMM_NO
		  , CATEGORY_NAME
		  , POST_TITLE
		  , POST_CONTENT
		  , USER_NO 
		  , ENROLL_DATE
		  )
		  VALUES
		  (
		    SEQ_COMMPNO.NEXTVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="insertCommTipFile">
		INSERT
		  INTO TB_COMM_FILE
		  (
		    FILE_NO
		  , COMM_POST_NO
		  , COMM_NO
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , SEQ_COMMPNO.CURRVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
			   TB_COMMUNITY 
		   SET BOARD_VIEW = BOARD_VIEW + 1 
		 WHERE COMM_POST_NO = ?
		   AND STATUS = 'N' 
	</entry>
	
	<entry key="selectCommTip">
		SELECT 
			   COMM_POST_NO
			 , USER_ID
			 , CATEGORY_NAME 
			 , POST_CONTENT
			 , POST_TITLE
			 , C.ENROLL_DATE
			 , BOARD_VIEW  
	      FROM TB_COMMUNITY C
	      JOIN TB_USER U ON (C.USER_NO = U.USER_NO)
	     WHERE COMM_POST_NO = ?
	       AND COMM_NO = 1 
	       AND STATUS = 'N'	 
	</entry>
	
	<entry key="selectCommTipFile">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_COMM_FILE
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 1  	 
	</entry>
	
	<!-- 게시글 수정 시 실행할 sql -->
	<entry key="updateCommTip"> 
		UPDATE 
			   TB_COMMUNITY 
		   SET CATEGORY_NAME = ? 
		     , POST_TITLE = ?
		     , POST_CONTENT = ?
		 WHERE COMM_POST_NO = ?
		   AND COMM_NO = 1     
	</entry>
	
	<!-- 기존의 첨부파일이 있었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="updateCommTipFile">
		UPDATE 
		       TB_COMM_FILE 
		   SET FILE_NAME = ?
		     , FILE_UPDATE = ? 
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?   
		   AND COMM_NO = 1      
	</entry>
	
	<!-- 기존의 첨부파일이 없었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="insertNewCommTipFile">
		INSERT 
		  INTO TB_COMM_FILE 
		  (
		    FILE_NO
		  , COMM_POST_NO 
		  , COMM_NO 
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH  
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , ? 
		  , 1
		  , ?
		  , ? 
		  , ?
		  )
	</entry>
	
	<entry key="deleteCommTip">
		UPDATE 
			   TB_COMMUNITY 
		   SET STATUS = 'Y'
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 1    	   
	</entry>
	
	
	<!-- 나만의운동팁 검색 / 상태값을 다 뽑을 것! -->
	
	<entry key="searchTipTitleCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_TITLE LIKE '%'||?||'%'
		  AND COMM_NO = 1 
	</entry>
	
	<entry key="searchTipContentCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_CONTENT LIKE '%'||?||'%'
		  AND COMM_NO = 1 
	</entry>
	
	<entry key="searchTipTitle">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C 
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_TITLE LIKE '%'||?||'%'
			                    AND COMM_NO = 1 
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchTipContent">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_CONTENT LIKE '%'||?||'%'
			                    AND COMM_NO = 1 
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 좋아요 -->
	<entry key="likeCheck">
		SELECT COUNT(*) LIKECOUNT
		  FROM TB_LIKE
		 WHERE USER_NO = ?
		   AND LIKE_POST_TYPE = 1
		   AND LIKE_POST_NO = ?
	</entry>
	
	<entry key="deleteLike">
		UPDATE
		       TB_LIKE
		   SET STATUS = 'N' 
		 WHERE USER_NO = ?
		   AND LIKE_POST_TYPE = 1
		   AND LIKE_POST_NO = ?
	</entry>   
	
	<entry key="insertLike">
		INSERT
		  INTO TB_LIKE
		       (
		         USER_NO
		       , LIKE_POST_TYPE
		       , LIKE_POST_NO
		       )
		VALUES 
		       (
		         ?
		       , 1
		       , ?
		       )
	</entry>
	
	<entry key="subLikeCount">
		UPDATE
		       TB_COMMUNITY
		   SET LIKE_COUNT = LIKE_COUNT - 1
		 WHERE COMM_POST_NO = ?
		   AND STATUS = 'N'
	</entry>
	
	<entry key="sumLikeCount">
		UPDATE
		       TB_COMMUNITY
		   SET LIKE_COUNT = LIKE_COUNT + 1
		 WHERE COMM_POST_NO = ?
		   AND STATUS = 'N'
	</entry>
	
	

	<!-- 나만의운동팁 댓글 -->
	<entry key="selectReplyList">
		SELECT 
			   REPLY_NO
			 , USER_ID
			 , REPLY_CONTENT
			 , R.ENROLL_DATE
		  FROM TB_REPLY R 
		  JOIN TB_USER U ON (R.USER_NO = U.USER_NO)	
		 WHERE COMM_POST_NO = ?
		   AND STATUS = 'N' 
		 ORDER BY ENROLL_DATE DESC
	</entry>
	
	<entry key="insertReply">
		INSERT
		  INTO TB_REPLY
		  (
		    REPLY_NO
		  , REPLY_CONTENT
		  , REPLY_CATEGORY
		  , COMM_POST_NO
		  , USER_NO
		  , ENROLL_DATE 
		  )
		  VALUES 
		  (
		    SEQ_RNO.NEXTVAL
		  , ?
		  , 1
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="updateReply">
		UPDATE
		       TB_REPLY
		   SET REPLY_CONTENT = ? 
		     , UPDATE_DATE = SYSDATE
		 WHERE COMM_POST_NO = ? 
		   AND STATUS = 'N'  
	</entry>
	
	<entry key="deleteReply">
		UPDATE 
		       TB_REPLY
		   SET STATUS = 'Y' 
		 WHERE COMM_POST_NO = ?   
	</entry>

	
	
	
	
	
	
	
	
	
	<!-- 자유 게시판 -->
	<entry key="freeSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_COMMUNITY 
		 WHERE COMM_NO = 2
		   AND STATUS = 'N'
	</entry>
	
	<entry key="freeSelectList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       COMM_POST_NO
		                     , USER_ID
		                     , POST_TITLE
		                     , C.ENROLL_DATE 
		                     , BOARD_VIEW 
		                  FROM TB_COMMUNITY C 
		                  JOIN TB_USER U ON (U.USER_NO = C.USER_NO)
		                 WHERE COMM_NO = 2
		                   AND STATUS = 'N'
		                 ORDER 
		                     BY ENROLL_DATE DESC, 
		                        COMM_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertCommFree">
		INSERT
		  INTO TB_COMMUNITY 
		  (
		    COMM_POST_NO
		  , COMM_NO
		  , POST_TITLE
		  , POST_CONTENT
		  , USER_NO 
		  , ENROLL_DATE
		  )
		  VALUES
		  (
		    SEQ_COMMPNO.NEXTVAL
		  , 2
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="insertCommFreeFile">
		INSERT
		  INTO TB_COMM_FILE
		  (
		    FILE_NO
		  , COMM_POST_NO
		  , COMM_NO
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , SEQ_COMMPNO.CURRVAL
		  , 2
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectCommFree">
		SELECT 
			   COMM_POST_NO
			 , USER_ID
			 , FILE_NO
			 , CATEGORY_NAME
			 , POST_CONTENT
			 , POST_TITLE
			 , C.ENROLL_DATE
			 , UPDATE_DATE 
			 , BOARD_VIEW  
			 , STATUS 
			 , COMM_NO
			 , LIKE_COUNT
	      FROM TB_COMMUNITY C
	      JOIN TB_USER U ON (C.USER_NO = U.USER_NO)
	     WHERE COMM_POST_NO = ?
	       AND COMM_NO = 2 
	       AND STATUS = 'N'	 
	</entry>
	
	<entry key="selectCommFreeFile">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_COMM_FILE
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 2  	 
	</entry>
	
	<!-- 게시글 수정 시 실행할 sql -->
	<entry key="updateCommFree">
		UPDATE 
			   TB_COMMUNITY 
		   SET POST_TITLE = ?
		     , POST_CONTENT = ?
		 WHERE COMM_POST_NO = ?
		   AND COMM_NO = 2     
	</entry>
	
	<!-- 기존의 첨부파일이 있었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="updateCommFreeFile">
		UPDATE 
		       TB_COMM_FILE 
		   SET FILE_NAME = ?
		     , FILE_UPDATE = ? 
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?   
		   AND COMM_NO = 2     
	</entry>
	
	<!-- 기존의 첨부파일이 없었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="insertNewCommFreeFile">
		INSERT 
		  INTO TB_COMM_FILE 
		  (
		    FILE_NO
		  , COMM_POST_NO 
		  , COMM_NO 
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH  
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , ? 
		  , 2
		  , ?
		  , ? 
		  , ?
		  )
	</entry>
	
	<entry key="deleteCommFree">
		UPDATE 
			   TB_COMMUNITY 
		   SET STATUS = 'Y'
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 2    			      
	</entry>
	
	
	<!-- 자유게시판 검색 / 상태값을 다 뽑을 것! -->
	
	<entry key="searchFreeTitleCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_TITLE LIKE '%'||?||'%'
		  AND COMM_NO = 2 
	</entry>
	
	<entry key="searchFreeContentCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_CONTENT LIKE '%'||?||'%'
		  AND COMM_NO = 2 
	</entry>
	
	<entry key="searchFreeTitle">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C 
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_TITLE LIKE '%'||?||'%'
			                    AND COMM_NO = 2 
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchFreeContent">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_CONTENT LIKE '%'||?||'%'
			                    AND COMM_NO = 2 
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 자유게시판 댓글  -->
	<entry key="insertReplyFree">
		INSERT
		  INTO TB_REPLY
		  (
		    REPLY_NO
		  , REPLY_CONTENT
		  , REPLY_CATEGORY
		  , COMM_POST_NO
		  , USER_NO
		  , ENROLL_DATE 
		  )
		  VALUES 
		  (
		    SEQ_RNO.NEXTVAL
		  , ?
		  , 2
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 질문 게시판  -->
	<entry key="qSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_COMMUNITY 
		 WHERE COMM_NO = 3
		   AND STATUS = 'N'
	</entry>
	
	<entry key="qSelectList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       COMM_POST_NO
		                     , USER_ID
		                     , POST_TITLE
		                     , C.ENROLL_DATE 
		                     , BOARD_VIEW 
		                  FROM TB_COMMUNITY C 
		                  JOIN TB_USER U ON (U.USER_NO = C.USER_NO)
		                 WHERE COMM_NO = 3
		                   AND STATUS = 'N'
		                 ORDER 
		                     BY ENROLL_DATE DESC, 
		                        COMM_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertCommQ">
		INSERT
		  INTO TB_COMMUNITY 
		  (
		    COMM_POST_NO
		  , COMM_NO
		  , POST_TITLE
		  , POST_CONTENT
		  , USER_NO 
		  , ENROLL_DATE
		  )
		  VALUES
		  (
		    SEQ_COMMPNO.NEXTVAL
		  , 3
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="insertCommQFile">
		INSERT
		  INTO TB_COMM_FILE
		  (
		    FILE_NO
		  , COMM_POST_NO
		  , COMM_NO
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , SEQ_COMMPNO.CURRVAL
		  , 3
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectCommQ">
		SELECT 
			   COMM_POST_NO
			 , USER_ID
			 , FILE_NO
			 , CATEGORY_NAME
			 , POST_CONTENT
			 , POST_TITLE
			 , C.ENROLL_DATE
			 , UPDATE_DATE 
			 , BOARD_VIEW  
			 , STATUS 
			 , COMM_NO
			 , LIKE_COUNT
	      FROM TB_COMMUNITY C
	      JOIN TB_USER U ON (C.USER_NO = U.USER_NO)
	     WHERE COMM_POST_NO = ?
	       AND COMM_NO = 3 
	       AND STATUS = 'N'	 
	</entry>
	
	<entry key="selectCommQFile">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_COMM_FILE
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 3  	 
	</entry>
	 
	<!-- 게시글 수정 시 실행할 sql -->
	<entry key="updateCommQ">
		UPDATE 
			   TB_COMMUNITY 
		   SET POST_TITLE = ?
		     , POST_CONTENT = ?
		 WHERE COMM_POST_NO = ?
		   AND COMM_NO = 3     
	</entry>
	
	<!-- 기존의 첨부파일이 있었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="updateCommQFile">
		UPDATE 
		       TB_COMM_FILE 
		   SET FILE_NAME = ?
		     , FILE_UPDATE = ? 
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?   
		   AND COMM_NO = 3     
	</entry>
	 
	<!-- 기존의 첨부파일이 없었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="insertNewCommQFile">
		INSERT 
		  INTO TB_COMM_FILE 
		  (
		    FILE_NO
		  , COMM_POST_NO 
		  , COMM_NO 
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH  
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , ? 
		  , 3
		  , ?
		  , ? 
		  , ?
		  )
	</entry>	   
		   
	<entry key="deleteCommQ">
		UPDATE 
			   TB_COMMUNITY 
		   SET STATUS = 'Y'
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 3    			      
	</entry>   
		
	
	<!-- 질문게시판 검색 / 상태값을 다 뽑을 것! -->
	
	<entry key="searchQTitleCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_TITLE LIKE '%'||?||'%'
		  AND COMM_NO = 3 
	</entry>
	
	<entry key="searchQContentCount">
		SELECT COUNT(*) LISTCOUNT
		FROM TB_COMMUNITY 
		WHERE POST_CONTENT LIKE '%'||?||'%'
		  AND COMM_NO = 3 
	</entry>
	
	<entry key="searchQTitle">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C 
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_TITLE LIKE '%'||?||'%'
			                    AND COMM_NO = 3 
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchQContent">
		SELECT *
			  FROM (
			        SELECT
			               ROWNUM RNUM
			             , A.*
			          FROM (
			                 SELECT
			                        COMM_POST_NO
			                      , USER_ID
			                      , FILE_NO
			                      , CATEGORY_NAME
			                      , POST_CONTENT
			                      , POST_TITLE
			                      , C.ENROLL_DATE
			                      , UPDATE_DATE
			                      , BOARD_VIEW 
			                      , STATUS 
			                      , COMM_NO
			                      , LIKE_COUNT
			                   FROM TB_COMMUNITY C
			                   JOIN TB_USER USING(USER_NO)
			                  WHERE C.POST_CONTENT LIKE '%'||?||'%'
			                    AND COMM_NO = 3
			                  ORDER
			                     BY C.ENROLL_DATE DESC
			               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 질문게시판 댓글  -->
	<entry key="insertReplyQ">
		INSERT
		  INTO TB_REPLY
		  (
		    REPLY_NO
		  , REPLY_CONTENT
		  , REPLY_CATEGORY
		  , COMM_POST_NO
		  , USER_NO
		  , ENROLL_DATE 
		  )
		  VALUES 
		  (
		    SEQ_RNO.NEXTVAL
		  , ?
		  , 3
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	
	
	<entry key="selectMaCommList">
	<![CDATA[  
	SELECT *
	      FROM (
	            SELECT 
	                    ROWNUM RNUM
	                    , A.*
	                   
	             FROM (
                        SELECT
                               COMM_POST_NO
                                , USER_ID
                             , POST_TITLE
                             , C.ENROLL_DATE
                             , BOARD_VIEW
                        FROM TB_COMMUNITY C
                        JOIN TB_USER USING(USER_NO)
                        WHERE  COMM_NO = 2  
                          AND STATUS = 'N'
                          ORDER BY C.ENROLL_DATE DESC, 
                                   BOARD_VIEW DESC
                                       )A  
	               )
	            WHERE RNUM <= 5
	               ]]>
	            
				
	</entry>
	
	<entry key="">
		
	</entry>
	
	<entry key="">
		
	</entry>
	
	<entry key="">
		
	</entry>
	
	
</properties>



