<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="tipselectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_COMMUNITY 
		 WHERE COMM_NO = 1
		   AND STATUS = 'N'
	</entry>
	
	<entry key="tipselectList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       COMM_POST_NO
		                     , USER_ID
		                     , CATEGORY_NAME
		                     , POST_TITLE
		                     , C.ENROLL_DATE 
		                     , BOARD_VIEW 
		                  FROM TB_COMMUNITY C 
		                  JOIN TB_USER U ON (U.USER_NO = C.USER_NO)
		                 WHERE COMM_NO = 1
		                   AND STATUS = 'N'
		                 ORDER 
		                     BY ENROLL_DATE DESC, 
		                        COMM_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertCommTip">
		INSERT
		  INTO TB_COMMUNITY 
		  (
		    COMM_POST_NO
		  , COMM_NO
		  , CATEGORY_NAME
		  , POST_TITLE
		  , POST_CONTENT
		  , USER_NO 
		  , ENROLL_DATE
		  )
		  VALUES
		  (
		    SEQ_COMMPNO.NEXTVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="insertCommFileList">
		INSERT
		  INTO TB_COMM_FILE
		  (
		    FILE_NO
		  , COMM_POST_NO
		  , COMM_NO
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , SEQ_COMMPNO.CURRVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
			   TB_COMMUNITY 
		   SET BOARD_VIEW = BOARD_VIEW + 1 
		 WHERE COMM_POST_NO = ?
		   AND STATUS = 'N' 
	</entry>
	
	<entry key="selectCommTip">
		SELECT 
			   COMM_POST_NO
			 , USER_ID
			 , CATEGORY_NAME 
			 , POST_CONTENT
			 , POST_TITLE
			 , C.ENROLL_DATE
			 , BOARD_VIEW  
	      FROM TB_COMMUNITY C
	      JOIN TB_USER U ON (C.USER_NO = U.USER_NO)
	     WHERE COMM_POST_NO = ?
	       AND COMM_NO = 1 
	       AND STATUS = 'N'	 
	</entry>
	
	<entry key="selectCommTipFileList">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_COMM_FILE
		 WHERE COMM_POST_NO = ? 
		   AND COMM_NO = 1  	 
	</entry>
	
	<!-- 게시글 수정 시 실행할 sql -->
	<entry key="updateCommTip"> 
		UPDATE 
			   TB_COMMUNITY 
		   SET CATEGORY_NAME = ? 
		     , POST_TITLE = ?
		     , POST_CONTENT = ?
		 WHERE COMM_POST_NO = ?
		   AND COMM_NO = 1     
	</entry>
	
	<!-- 기존의 첨부파일이 있었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="">
		UPDATE 
		       TB_COMM_FILE 
		   SET FILE_NAME
		     , FILE_UPDATE
		     , FILE_PATH  
		 WHERE FILE_NO = ?        
	</entry>
	
	<!-- 기존의 첨부파일이 없었는데 새로 넘어온 첨부파일이 있을 경우 -->
	<entry key="">
		INSERT 
		  INTO TB_COMM_FILE 
		  (
		    FILE_NO
		  , COMM_POST_NO 
		  , FILE_NAME
		  , FILE_UPDATE
		  , FILE_PATH  
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL 
		  , ? 
		  , ?
		  , ?
		  , ? 
		  )
	</entry>
	
	<entry key="">
		
	</entry>
	
	<entry key="">
		
	</entry>
	
	<entry key="">
		
	</entry>
	
	
	
	
	
	
</properties>



