<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- faq 게시판 -->
	
	<!-- faq글번호 조회 (게시여부 Y/N모두) -->
	<entry key="faqSelectListCount">
	SELECT COUNT(*) LISTCOUNT
	FROM TB_FAQ
	WHERE FAQ_CATEGORY =?
	
	
	</entry>
	
	<entry key="faqSelectList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_CATEGORY
		                     , FAQ_TITLE
		                     , FAQ_CONTENT
		                     , CREATE_DATE
                             , UPDATE_DATE
                             , STATUS
                             , USER_ID
		                 FROM TB_FAQ F
                         JOIN TB_USER USING(USER_NO)
		                 WHERE F.FAQ_CATEGORY=?
		                 ORDER BY FAQ_NO DESC
		                 
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	
	</entry>
	
	<entry key="faqIncreaseCount">
		UPDATE TB_NOTICE
		   SET NOTICE_COUNT = NOTICE_COUNT +1
	     WHERE NOTICE_NO = ?
	       AND STATUS = 'Y'
	
	
	</entry>
	
	<!-- 글번호로 faq디테일 내역조회 -->
	<entry key="selectFaq">
	  SELECT
		     FAQ_NO
		   , FAQ_CATEGORY
		   , FAQ_TITLE
		   , FAQ_CONTENT
		   , CREATE_DATE
           , UPDATE_DATE
           , STATUS
           , USER_ID
	   FROM TB_FAQ F
       JOIN TB_USER USING(USER_NO)
       WHERE FAQ_NO = ?
	
	</entry>
	
	<entry key="searchFaqListCount">
	
	SELECT COUNT(*) LISTCOUNT
	FROM TB_FAQ F
	WHERE F.status ='Y'
  	AND F.FAQ_CONTENT LIKE '%'||?||'%'
	
	
	</entry>
	
	
	<entry key="searchFaqList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
					            FAQ_NO
					          , USER_NO
					          , FAQ_CATEGORY
							  , FAQ_TITLE
					          , FAQ_CONTENT
						   FROM TB_FAQ F
						  WHERE F.FAQ_CONTENT LIKE '%'||?||'%'
						    AND F.STATUS = 'Y'
		                 ORDER BY
		                    FAQ_CATEGORY
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="insertFaq">
	INSERT 
	    INTO TB_FAQ
	        (
	          FAQ_NO
	        , USER_NO
	        , FAQ_CATEGORY
	        , FAQ_TITLE
	        , FAQ_CONTENT
	        , STATUS
	        )
	        VALUES 
	        (
	           SEQ_FAQNO.NEXTVAL
	         , ?
	         , ?
	         , ?
	         , ?
	         , ?
	         )
		
	
	</entry>
	
	
	<entry key="deleteFaq">
	
	DELETE FROM TB_FAQ
	WHERE FAQ_NO = ?
	
	
	</entry>
	
	<entry key="updateFaq">
	
      UPDATE
		 	 TB_FAQ
	     SET  FAQ_CATEGORY = ?
	        , FAQ_TITLE = ?
		    , FAQ_CONTENT = ?
		    , UPDATE_DATE = SYSDATE
		    , STATUS = ?
		    
	  WHERE FAQ_NO = ?
	
	</entry>
	
	<entry key="searchFaqListCount">
	
	SELECT COUNT(*) LISTCOUNT
	FROM TB_FAQ F
	WHERE F.status ='Y'
  	AND F.FAQ_CONTENT LIKE '%'||?||'%'
	
	
	</entry>
	
	
	<entry key="searchFaqList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_CATEGORY
		                     , FAQ_TITLE
		                     , FAQ_CONTENT
		                     , CREATE_DATE
                             , UPDATE_DATE
                             , STATUS
                             , USER_ID
		                 FROM TB_FAQ F
                         JOIN TB_USER USING(USER_NO)
		                 WHERE F.FAQ_CONTENT LIKE '%'||?||'%'
		                 ORDER BY FAQ_NO DESC
		                 
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	
	
	
	<!-- 필요없음 -->
	<entry key="faqList">
	
	SELECT 
            FAQ_NO
          , USER_NO
          , FAQ_CATEGORY
		  , FAQ_TITLE
          , FAQ_CONTENT
	   FROM TB_FAQ
	  WHERE FAQ_CATEGORY = ?
	    AND STATUS = 'Y'
	
	
	</entry>
	
	
	<!-- 공지사항 게시판 -->
	
	<!-- 전체공지사항수 -->
	<entry key="noticeListCount">
	
	SELECT COUNT(*) LISTCOUNT
	FROM TB_NOTICE
	
	</entry>
	
	<entry key="noticeList">
	
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , CREATE_DATE
		                     , STATUS
		                     , USER_ID
		                     
		                  FROM TB_NOTICE N
		                  JOIN TB_USER USING(USER_NO)
		                
		                 ORDER
		                    BY NOTICE_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	</entry>
	
	<entry key="noticeSelectListCount">
	SELECT COUNT(*) LISTCOUNT
	FROM TB_NOTICE
	WHERE STATUS = ?
	  
  	
	
	</entry>
	
	<entry key="noticeSelectList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , CREATE_DATE
		                     , STATUS
		                     , USER_ID
		                     
		                  FROM TB_NOTICE N
		                  JOIN TB_USER USING(USER_NO)
		                  WHERE STATUS = ?
		                
		                 ORDER
		                    BY NOTICE_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
		 
		 
	</entry>
	
	<!-- 상태값을 다뽑을것 -->
	
	<entry key="searchNoticeTitleCount">
	
	SELECT COUNT(*) LISTCOUNT
	FROM TB_NOTICE
	WHERE NOTICE_TITLE LIKE '%'||?||'%'
	
	
	</entry>
	
	<entry key="searchNoticeContentCount">
	
	SELECT COUNT(*) LISTCOUNT
	FROM TB_NOTICE
	WHERE NOTICE_CONTENT LIKE '%'||?||'%'
	
	
	</entry>
	<entry key="searchNoticeTitle">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                 SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , NOTICE_CONTENT
		                     , CREATE_DATE
		                     , NOTICE_COUNT
		                     , STATUS
		                     , USER_ID
		                  FROM TB_NOTICE N
		                  JOIN TB_USER USING(USER_NO)
		                 WHERE N.NOTICE_TITLE LIKE '%'||?||'%'
		                 ORDER
		                    BY N.CREATE_DATE DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	</entry>
	
	<entry key="searchNoticeContent">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                 SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , NOTICE_CONTENT
		                     , CREATE_DATE
		                     , NOTICE_COUNT
		                     , STATUS
		                     , USER_ID
		                  FROM TB_NOTICE N
		                  JOIN TB_USER USING(USER_NO)
		                 WHERE N.NOTICE_CONTENT LIKE '%'||?||'%'
		                 ORDER
		                    BY N.CREATE_DATE DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	</entry>
	
	<entry key="deleteNotice">
	
	DELETE FROM TB_NOTICE
	WHERE NOTICE_NO = ?
	
	
	</entry>
	
	
	<entry key="insertNotice">
		INSERT
		    INTO TB_NOTICE
		    (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , USER_NO
		     , CREATE_DATE
		     , STATUS
		    )
		    VALUES
		    (
		      SEQ_NOTICENO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , SYSDATE
		    , ?
		    )
	
	</entry>
	
	<entry key="insertAttachment">
		
		INSERT
		    INTO TB_NOTICE_FILE
		    (
		      FILE_NO
		    , NOTICE_NO
		    , FILE_NAME
		    , FILE_UPDATE
		    , FILE_PATH
		    )
		    VALUES
		   (
		     SEQ_NOTICE_FNO.NEXTVAL
		   , SEQ_NOTICENO.CURRVAL
		   , ?
		   , ?
		   , ?
		   )
	
	
	
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		        FILE_NO
		      , FILE_NAME
		   	  , FILE_UPDATE
		      , FILE_PATH
		   FROM TB_NOTICE_FILE
		  WHERE NOTICE_NO = ?
		
	</entry>
	
	
	<entry key="selectNotice">
	SELECT 
		   NOTICE_NO
		 , NOTICE_TITLE
		 , NOTICE_CONTENT
		 , NOTICE_COUNT
		 , CREATE_DATE
		 , UPDATE_DATE
		 , STATUS
		 , USER_ID
	  FROM TB_NOTICE
	  JOIN TB_USER USING (USER_NO)
	 WHERE NOTICE_NO= ?
	   
	
	</entry>
	
	<entry key="updateNotice">
	   	UPDATE
				TB_NOTICE
		    SET NOTICE_TITLE = ?
		      , NOTICE_CONTENT = ?
		      , STATUS = ?
		      , UPDATE_DATE = SYSDATE
		  WHERE NOTICE_NO = ?     
			
	</entry>
	
	<entry key="updateAttachment">
		UPDATE
				TB_NOTICE_FILE
		    SET FILE_NAME = ?
		      , FILE_UPDATE = ?
			  , FILE_PATH = ?
		  WHERE FILE_NO = ?
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT
			INTO TB_NOTICE_FILE
			(
			  FILE_NO
		    , NOTICE_NO
		    , FILE_NAME
		    , FILE_UPDATE
		    , FILE_PATH
			)
			VALUES
			(
			  SEQ_NOTICE_FNO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?
		   )
		
	</entry>
	
	
	<entry key="noticeIncreaseCount">
		UPDATE TB_NOTICE
		   SET NOTICE_COUNT = NOTICE_COUNT +1
	     WHERE NOTICE_NO = ?
	       
	
	
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 1:1문의 게시판 -->
	
	
	<!--  답변상태 처리중,처리완료 모두 / 삭제된글까지-->
	<entry key="queryListCount"> 
	SELECT COUNT(*) LISTCOUNT
	FROM TB_QUERY
	WHERE reply_status IN ('Y', 'N', 'D')
	  
	
	</entry>
	
	<entry key="queryList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                        QUERY_NO
						      , QUERY_CATEGORY
						      , QUERY_TITLE
						      , QUERY_CREATE_DATE
						      , REPLY_STATUS
						      , REPLY_DATE
						      , USER_ID
		                     
		                  FROM TB_QUERY Q
		                  JOIN TB_USER USING(USER_NO)
		                 WHERE reply_status IN ('Y', 'N', 'D')
		                   
		                 ORDER BY
		                    QUERY_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
		 
		 
	</entry>
	
	
	
	<!-- 답변상태 처리완료/처리중 따로 + 회원이 삭제한글 -->
	<entry key="querySelectListCount">
	SELECT COUNT(*) LISTCOUNT
	FROM TB_QUERY
	WHERE reply_status = ?
	  
  	
	
	</entry>
	
	<entry key="querySelectList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                        QUERY_NO
						      , QUERY_CATEGORY
						      , QUERY_TITLE
						      , QUERY_CREATE_DATE
						      , REPLY_STATUS
						      , REPLY_DATE
						      , USER_ID
		                     
		                  FROM TB_QUERY Q
		                  JOIN TB_USER USING(USER_NO)
		                 WHERE reply_status = ?
		                   
		                 ORDER BY
		                    QUERY_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
		 
		 
	</entry>
	
	<!-- 글번호로 문의내역 디테일 내역조회 -->
	<!-- 문의내역 데이터 전부뽑아넣기 -->
	<entry key="selectQuery">
	  SELECT
		     QUERY_NO
		   , QUERY_CATEGORY
		   , QUERY_TITLE
		   , QUERY_CONTENT
		   , QUERY_CREATE_DATE
           , QUERY_STATUS
           , REPLY_STATUS
           , REPLY_CONTENT
           , REPLY_DATE
           , USER_ID
	   FROM TB_QUERY F
       JOIN TB_USER USING(USER_NO)
       WHERE QUERY_NO = ?
	
	</entry>
	
	<entry key="queryReplyUpdate">
		UPDATE TB_QUERY
		   SET  REPLY_CONTENT = ?
		      , REPLY_STATUS = 'Y'
		      , REPLY_DATE = SYSDATE
	     WHERE QUERY_NO = ?
	       AND QUERY_STATUS = 'Y'
	
	</entry>
	
	
	
	
	
	
	
	
	
	
	<entry key="insertQuery">
	INSERT 
	    INTO TB_QUERY
	        (
	          QUERY_NO
	        , USER_NO
	        , QUERY_CATEGORY
	        , QUERY_TITLE
	        , QUERY_CONTENT
	        )
	        VALUES 
	        (
	          SEQ_QUERYNO.NEXTVAL
	         , ?
	         , ?
	         , ?
	         , ?
	         )
		
	
	</entry>
	
	
	
	
	
	
	<entry key="deleteQuery">
	
	DELETE FROM TB_QUERY
	WHERE QUERY_NO = ?
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
	<entry key="">
	
	
	</entry>
	
</properties>
