<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 1. 로그인 -->
	<entry key="loginUser">
		SELECT 
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , BIRTH
		     , GENDER
		     , EMAIL
		     , PHONE
		     , ENROLL_DATE
		     , LEAVE_CHECK
		     , SUSPENDED
		     , REPORT_CHECK
		     , ADMIN_CHECK
		  FROM 
		       TB_USER
		 WHERE LEAVE_CHECK = 'N'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
<!-- 2. 회원가입 -->
	<entry key="insertUser">
		INSERT 
		    INTO TB_USER
		        (
		        USER_NO 
		      , USER_ID 
		      , USER_PWD
		      , USER_NAME
		      , BIRTH
		      , GENDER
		      , EMAIL
		      , PHONE
		        )
		  VALUES
		        (
		        SEQ_UNO.NEXTVAL
		      , ?
		      , ?
		      , ?
		      , ?
		      , ?
		      , ?
		      , ?
		        )
	</entry>
	
<!-- 아이디 중복체크시 실행할 sql문 -->
	<entry key="idCheck">
		SELECT
		       COUNT(*) "count"
		  FROM TB_USER
		 WHERE USER_ID = ?
	
	</entry>

<!-- update시 새로 조회할 sql문 -->
	<entry key="selectUser">
		 SELECT 
                USER_NO
              , USER_ID
              , USER_PWD
              , USER_NAME
              , BIRTH
              , GENDER
              , EMAIL
              , PHONE
              , ENROLL_DATE
              , LEAVE_CHECK
              , SUSPENDED
              , REPORT_CHECK
              , ADMIN_CHECK
           FROM TB_USER
          WHERE SUSPENDED = 'N'
            AND USER_ID = ?
	</entry>
<!-- email update -->
	<entry key="updateEmailUser">
  		UPDATE
			   TB_USER
		   SET EMAIL = ?
         WHERE USER_ID = ?
	</entry>
	
<!-- email update -->
	<entry key="updatePhoneUser">
  		UPDATE
			   TB_USER
		   SET PHONE = ?
         WHERE USER_ID = ?
	</entry>

<!-- pwd update -->	
	<entry key="updatePwdUser">
	  	UPDATE
			   TB_USER
		   SET USER_PWD = ?
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
<!-- user Delete -->
	<entry key="deleteUser">
        UPDATE 
			   TB_USER
		   SET LEAVE_CHECK = 'Y'
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<!-- 1. 관리자- 전체 회원 조회 : 갯수 조회 -->
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_USER
		 WHERE LEAVE_CHECK = 'N'
	</entry>

<!-- 1. 관리자- 전체 회원 조회  -->
	<entry key="selectList">
		SELECT *
		  FROM (
		         SELECT 
		                ROWNUM RNUM
		                , A.*
		               
		          FROM (
		                SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , GENDER
		                     , PHONE
		                     , ENROLL_DATE
		                     , LEAVE_CHECK
		                  FROM TB_USER
		                 ORDER
		                    BY USER_NO DESC
		       		)A
		       )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
</properties>



