<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 1. 관리자(홈트) - 게시글 리스트 갯수 -->
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_HOMETRAINING
		 <!--WHERE CATEGORY -->
		 WHERE STATUS='N'
	</entry>
	
<!-- 1. 게시글리스트 조회시 실행할 sql문 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		               , A.*  
				 FROM (
				        SELECT 
				        <!-- 순서!!!! -->  
				        <!-- 
				               HT_POST_NO
				             , CATEGORY_NAME
				             , HT_POST_TITLE
				             , USER_NAME      
				             , HT_ENROLL_DATE
				             , HT_UPDATE_DATE
				             , HT_BOARD_VIEW -->
				             
				               HT_POST_NO
				             , HT_POST_TITLE
				             , CATEGORY_NAME
				             , HT_ENROLL_DATE
				             , HT_UPDATE_DATE
				             , HT_BOARD_VIEW
				             
				         FROM TB_HOMETRAINING 
				         ORDER
				            BY HT_ENROLL_DATE DESC
				       ) A
				    )
				 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
</properties>





		
	