<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- HT 게시판 -->
	
	<!-- HT글번호 조회 (전체) -->
	
	<entry key="selectListCountAll">
	SELECT COUNT(*) LISTCOUNT
	FROM TB_HOMETRAINING
	</entry>
	
	<entry key="selectListAll">
	
	SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       HT_POST_NO
		                     , HT_POST_TITLE
		                     , CATEGORY_NAME 
		                     , HT_ENROLL_DATE 
		                     , T.STATUS
		                     , USER_ID
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_HOMETRAINING T 
		                  JOIN TB_USER USING (USER_NO)
		                 ORDER BY  HT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	
	<!-- 글등록 -->
	<entry key="insertHT">
		INSERT
		    INTO TB_HOMETRAINING
		    (
		       HT_POST_NO
		     , USER_NO
		     , CATEGORY_NAME
		     , HT_POST_TITLE
		     , HT_POST_CONTENT
		     , HT_ENROLL_DATE
		     , STATUS
		     , FILE_NAME
		     , FILE_UPDATE
		     , FILE_PATH
		    )
		    VALUES
		    (
		      SEQ_HTPNO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?
		    , SYSDATE
		    , ?
		    , ?
		    , ?
		   	, ?
		    )
	
	</entry>
	
	<!-- 카테고리별로 카운트 -->
	<entry key="selectListCount">
	SELECT COUNT(*) LISTCOUNT
	FROM TB_HOMETRAINING
	WHERE CATEGORY_NAME =?
	
	
	</entry>
	
	
	
	<entry key="selectList">
	SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       HT_POST_NO
		                     , HT_POST_TITLE
		                     , CATEGORY_NAME 
		                     , HT_ENROLL_DATE 
		                     , T.STATUS
		                     , USER_ID
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_HOMETRAINING T 
		                  JOIN TB_USER USING (USER_NO)
		                  WHERE CATEGORY_NAME =?
		                 ORDER BY  HT_POST_NO DESC
		                 
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	
	</entry>
	
	
	<!-- 글번호조회 -->
	<entry key="HTIncreaseCount">
		UPDATE TB_HOMETRAINING
		   SET HT_BOARD_VIEW = HT_BOARD_VIEW +1
	     WHERE HT_POST_NO = ?
	       
	</entry>
	
	<entry key="selectHT">
	SELECT 
		    HT_POST_NO
		  , CATEGORY_NAME
		  , HT_POST_TITLE
		  , HT_POST_CONTENT
		  , HT_ENROLL_DATE
		  , HT_UPDATE_DATE
		  , T.STATUS
		  , USER_ID
		  , FILE_PATH || FILE_UPDATE "TITLEIMG"
		  
	  FROM TB_HOMETRAINING T
	  JOIN TB_USER USING (USER_NO)
	WHERE HT_POST_NO = ?
	   
	
	</entry>
	
	
	<!-- 삭제 -->
	<entry key="deleteHT">
	
	DELETE FROM TB_HOMETRAINING
	WHERE HT_POST_NO = ?
	
	
	</entry>
	
	<!-- 업데이트 -->
	<!-- 첨부파일까지 업뎃 -->
	<entry key="updateHTAll">
	   	UPDATE
				TB_HOMETRAINING
		    SET CATEGORY_NAME =?
		      , HT_POST_TITLE = ?
		      , HT_POST_CONTENT = ?
		      , STATUS = ?
		      , HT_UPDATE_DATE = SYSDATE
		      , FILE_NAME = ?
		      , FILE_UPDATE = ?
		      , FILE_PATH = ?
		  WHERE HT_POST_NO = ?     
			
	</entry>
	
	<!-- 게시글 내용만 업데이트 (첨부파일x)-->
	<entry key="updateHT">
	   	UPDATE
				TB_HOMETRAINING
		    SET CATEGORY_NAME =?
		      , HT_POST_TITLE = ?
		      , HT_POST_CONTENT = ?
		      , STATUS = ?
		      , HT_UPDATE_DATE = SYSDATE
		      
		  WHERE HT_POST_NO = ?     
			
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<entry key="updateAttachment">
		UPDATE
				TB_INT_FILE
		    SET FILE_NAME = ?
		      , FILE_UPDATE = ?
			  , FILE_PATH = ?
		  WHERE FILE_NO = ?
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT
			INTO TB_INT_FILE
			(
			  FILE_NO
		    , INT_POST_NO
		    , FILE_NAME
		    , FILE_UPDATE
		    , FILE_PATH
			)
			VALUES
			(
			  SEQ_FILE_INT.NEXTVAL
		   	, ?
		    , ?
		    , ?
		    , ?
		   )
		
	</entry>
	
	
	
	
</properties>	