<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 운동게시판 -->
	<entry key="workoutSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE COMM_NO = 1
		   AND STATUS = 'N'
	</entry>
	
	<entry key="workoutSelectThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.COMM_NO = 1
		                   AND I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
			   TB_INFO_N_TIP
		   SET BOARD_VIEW = BOARD_VIEW + 1 
		 WHERE INT_POST_NO = ?
		   AND STATUS = 'N' 
	</entry>
	
	
	
	
	
	<!-- 식단게시판 -->
	<entry key="menuSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE COMM_NO = 2
		   AND STATUS = 'N'
	</entry>
	
	<entry key="menuSelectThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.COMM_NO = 2
		                   AND I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
	
	
	<!-- 전체게시판 -->
	<entry key="mainSelectListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE COMM_NO = 3
		   AND STATUS = 'N'
	</entry>
	
	<entry key="mainSelectThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , CATEGORY_NAME
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.COMM_NO = 1
		                   AND I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	


	<entry key="">
		
	</entry>
	
	<entry key="">
		
	</entry>
	
	<entry key="">

	</entry>
	
	
</properties>



