<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 운동게시판 -->
	<entry key="selectWorkoutListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE INT_NO = 1
		   AND STATUS = 'N'
	</entry>
	
	<entry key="selectWorkoutThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.INT_NO = 1
		                   AND I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
			   TB_INFO_N_TIP
		   SET BOARD_VIEW = BOARD_VIEW + 1 
		 WHERE INT_POST_NO = ?
		   AND STATUS = 'N' 
	</entry>
	
	<entry key="selectWorkout">
		SELECT
			   INT_POST_NO
			 , POST_CONTENT 
			 , POST_TITLE
			 , ENROLL_DATE
			 , BOARD_VIEW
			 , LIKE_COUNT
	      FROM TB_INFO_N_TIP 
	     WHERE INT_POST_NO = ? 
	       AND INT_NO = 1 
		   AND STATUS = 'N' 	
	</entry>
	
	<entry key="selectWorkoutFileList">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_INT_FILE
		 WHERE INT_POST_NO = ?  
		   AND INT_NO = 1 	 
	</entry>
	
	
	
	
	
	
	
	
	<!-- 식단게시판 -->
	<entry key="selectMenuListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE INT_NO = 2
		   AND STATUS = 'N'
	</entry>
	
	<entry key="selectMenuThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.INT_NO = 2
		                   AND I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMenu">
		SELECT
			   INT_POST_NO
			 , POST_CONTENT 
			 , POST_TITLE
			 , ENROLL_DATE
			 , BOARD_VIEW
			 , LIKE_COUNT
	      FROM TB_INFO_N_TIP
	     WHERE INT_POST_NO = ? 
	       AND INT_NO = 2
		   AND STATUS = 'N' 	
	</entry>
	
	<entry key="selectMenuFileList">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_INT_FILE
		 WHERE INT_POST_NO = ?  
		   AND INT_NO = 2 	 
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 전체게시판 -->
	<entry key="selectMainListCount">
		SELECT COUNT(*) LISTCOUNT 
		  FROM TB_INFO_N_TIP
		 WHERE INT_NO = 3
		   AND STATUS = 'N'
	</entry>
	
	<!-- 나중에 수정하거나 삭제할 것 -->
	<entry key="selectMainThumbnailList">
		SELECT * 
		  FROM (
		        SELECT 
		               ROWNUM RNUM 
		             , A.*
		          FROM (
		                SELECT
		                       I.INT_POST_NO
		                     , CATEGORY_NAME  
		                     , POST_TITLE
		                     , I.ENROLL_DATE 
		                     , BOARD_VIEW 
		                     , LIKE_COUNT
		                     , FILE_PATH || FILE_UPDATE "TITLEIMG"
		                  FROM TB_INFO_N_TIP I 
		                  JOIN TB_INT_FILE F ON (I.INT_POST_NO = F.INT_POST_NO)
		                 WHERE I.STATUS = 'N'
		                   AND FILE_LEVEL = 1 
		                 ORDER 
		                     BY I.ENROLL_DATE DESC, 
		                        I.INT_POST_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectInfoMain">
		SELECT
			   INT_POST_NO
			 , CATEGORY_NAME
			 , POST_CONTENT 
			 , POST_TITLE
			 , ENROLL_DATE
			 , BOARD_VIEW
			 , LIKE_COUNT
	      FROM TB_INFO_N_TIP
	     WHERE INT_POST_NO = ? 
	       AND INT_NO = 3 
		   AND STATUS = 'N' 	
	</entry>
	
	<entry key="selectInfoMainFileList">
		SELECT 
			   FILE_NO
			 , FILE_NAME
			 , FILE_UPDATE
			 , FILE_PATH
		  FROM TB_INT_FILE
		 WHERE INT_POST_NO = ?  
		   AND INT_NO = 3 	 
	</entry>
	
	<entry key="">

	</entry>
	
	
</properties>



