<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_HOMETRAINING
		 WHERE STATUS = 'N'
		   AND CATEGORY_NAME = ? 
	</entry>
	
	<entry key="selectSearchListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_HOMETRAINING
		 WHERE STATUS = 'N'
		   AND HT_POST_TITLE LIKE '%' || ? || '%'
	</entry>
	
	<entry key="selectAllListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_HOMETRAINING
		 WHERE STATUS = 'N'
	</entry>
	
	<entry key="selectSearchHtList">
		  SELECT
			     HT_POST_NO
			   , HT_POST_TITLE
			   , HT_ENROLL_DATE
			   , HT_UPDATE_DATE
			   , HT_BOARD_VIEW
			   , HT_LIKE_COUNT
	           , FILE_PATH || CHANGE_NAME "TITLEIMG"
			 FROM TB_HOMETRAINING H
			 LEFT JOIN TB_HT_FILE USING(HT_POST_NO)
			WHERE H.STATUS = 'N'
			  AND HT_POST_TITLE LIKE '%' || ? || '%'
	</entry>

	<entry key="selectAllHtList">
		  SELECT
			     HT_POST_NO
			   , HT_POST_TITLE
			   , HT_ENROLL_DATE
			   , HT_UPDATE_DATE
			   , HT_BOARD_VIEW
			   , HT_LIKE_COUNT
	           , FILE_PATH || CHANGE_NAME "TITLEIMG"
			 FROM TB_HOMETRAINING H
			 LEFT JOIN TB_HT_FILE USING(HT_POST_NO)
			WHERE H.STATUS = 'N'
	</entry>
	
		<entry key="selectHtList">
		  SELECT
			     HT_POST_NO
			   , HT_POST_TITLE
			   , HT_ENROLL_DATE
			   , HT_UPDATE_DATE
			   , HT_BOARD_VIEW
			   , HT_LIKE_COUNT
	           , FILE_PATH || CHANGE_NAME "TITLEIMG"
			 FROM TB_HOMETRAINING H
			 LEFT JOIN TB_HT_FILE USING(HT_POST_NO)
			WHERE H.STATUS = 'N'
			  AND CATEGORY_NAME = ?
	</entry>
	
	<entry key="increaseCount">
    		UPDATE
			   TB_HOMETRAINING H
		   SET HT_BOARD_VIEW = HT_BOARD_VIEW+1
		 WHERE HT_POST_NO = ?
		   AND STATUS = 'N'
	</entry>
	
	<entry key="selectPost">
		   SELECT
                  HT_POST_NO
                , USER_NO
                , HT_POST_CONTENT
                , HT_POST_TITLE
                , CATEGORY_NAME
                , HT_ENROLL_DATE
                , HT_UPDATE_DATE
                , VIDEO_LINK
             FROM TB_HOMETRAINING H
            WHERE HT_POST_NO = ?
              AND H.STATUS = 'N'
	</entry>
	
	<entry key="likeCheck">
		SELECT COUNT(*) LIKECOUNT
		  FROM TB_POST_LIKE
		 WHERE USER_NO = ?
		   AND LIKE_POST_TYPE = 1
		   AND LIKE_POST_NO = ?
	</entry>
	
	<entry key="deleteLike">
		DELETE 
		  FROM TB_POST_LIKE
		 WHERE USER_NO = ?
		   AND LIKE_POST_TYPE = 1
		   AND LIKE_POST_NO = ?
	</entry>
	
	<entry key="insertLike">
		INSERT
		  INTO TB_POST_LIKE
		       (
		         USER_NO
		       , LIKE_POST_TYPE
		       , LIKE_POST_NO
		       )
		VALUES 
		       (
		         ?
		       , 1
		       , ?
		       )
	</entry>
	
	<entry key="sumLikeCount">
		UPDATE
		       TB_HOMETRAINING
		   SET HT_LIKE_COUNT = HT_LIKE_COUNT+1
		 WHERE HT_POST_NO = ?
		   AND STATUS = 'N'
	</entry>
	
		<entry key="subLikeCount">
		UPDATE
		       TB_HOMETRAINING
		   SET HT_LIKE_COUNT = HT_LIKE_COUNT-1
		 WHERE HT_POST_NO = ?
		   AND STATUS = 'N'
	</entry>
	
	<entry key="bookmarkCheck">
        SELECT COUNT(*) BOOKMARKCOUNT
		  FROM TB_BOOKMARK
		 WHERE USER_NO = ?
		   AND BK_POST_TYPE = 1
		   AND BK_POST_NO = ?
	</entry>
	
		<entry key="deleteBookmark">
        DELETE 
		  FROM TB_BOOKMARK
		 WHERE USER_NO = ?
		   AND BK_POST_TYPE = 1
		   AND BK_POST_NO = ?
	</entry>
	
	<entry key="insertBookmark">
		INSERT
		  INTO TB_BOOKMARK
		       (
                 BK_NO
		       , USER_NO
		       , BK_POST_TYPE
		       , BK_POST_NO
		       )
		VALUES 
		       (
                 SEQ_BKNO.NEXTVAL
		       , ?
		       , 1
		       , ?
		       )
	</entry>
</properties>



